<h5>Datos de la factura</h5>
<div class="row">
  <p><b>Facturar a:</b></p>
  <p><b>Nombre: </b>Robertito Segura Segura</p>
  <p><b>Identificación: </b>099999999</p>
  <p><b>Telefono: </b>099999999</p>
  <p><b>Correo: </b>example@example.com</p>
  <p><b>Dirección: </b>Pancho segura 123 nueva zelanda</p>
</div>
<hr />
<div class="row">
  <p class="text-start"><b>Términos y condiciones</b></p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptate
    modi pariatur consectetur, maxime ipsum ad aliquid odit repudiandae at
    impedit nemo suscipit fugiat optio, neque accusamus sequi quasi quibusdam.
  </p>
</div>
